body {
    background: [slategray];
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    color: [red];
    text-align: center;
    }
.about{
    background: #00b3d1;
    color: pink;
}
.skills{
    background: #e1064f;
    color: white;
}
.projects{
    background: #db00db;
    color: navy;
}
.contact{
    background: rgba(4, 56, 200, 0.533);
    color: yellow;
}